.header-box {
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid lightgray;
  border-radius: 8px;
  background: linear-gradient(135deg, #ffffff, #f1f1f1);
  box-shadow: 5px 5px 8px #e8e8e8,
  -5px -5px 8px #eaeaea;
  padding: 0.5em 1em;
}