.icon-button {
  background-color: white !important;

  &:hover {
    background-color: #f5f5f5 !important;
  }
}

.printable-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}