.leseteppich-image {
  height: 100%;

  &.preview {
    zoom: 0.3;
    width: fit-content;
    margin-top: 24px;
  }

  &.onClick {
    cursor: pointer;
  }

  .leseteppich-image_heading {
    display: flex
  }
}

.leseteppich-table {
  min-width: 550px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #b7b7b7;
  border-radius: 8px;
  font-family: 'ABeeZee', 'Roboto', sans-serif;

  &.fullsize {
    max-width: 100%;
    height: 100%;
  }

  .table-head {
    background-color: #EFDCA7;
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 0.5px solid #b7b7b7;
    border-radius: 8px 8px 0 0;
    padding: 8px 16px 8px 72px;

    .funki {
      height: 68px;
      position: absolute;
      left: 0;
      top: -28px;
    }

    .heading_container {
      display: flex;
      align-items: center;
      gap: 8px;

      .heading {
        font-size: 1.3em;
        font-weight: 600;
        white-space: nowrap;
      }

      .teppich-id {
        background-color: #fae700;
        width: 32px;
        min-width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
      }
    }

    .chars {
      text-align: left;
      text-transform: lowercase;
    }
  }

  .table-row {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #b7b7b7;
    font-size: 1.2em;

    &:last-child {
      border-bottom: none;
    }

    .table-cell {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.5px solid #b7b7b7;
      padding: 8px 12px;

      &:last-child {
        border-right: none;
      }
    }
  }
}