:root {
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  max-width: 1280px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #505050;
  text-decoration: inherit;
}

a:hover {
  color: black;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100svw;
  min-height: 100dvh;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 100dvh;
  width: 100svw;
  padding: 0 12px 12px 12px;
}

section {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#portrait-mode {
  padding: 12px;
}

@media screen and (orientation: landscape) {
  #root {
    display: block;
  }
  #portrait-mode {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  #root {
    display: none; /* Verstecke die App im Portrait-Modus */
  }
  #portrait-mode {
    display: block;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printable-image,
  #printable-image * {
    visibility: visible;
  }

  #printable-image {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    margin: auto;
  }
}
