.game-cockpit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  .count-text {
    width: 32px;
  }
}

.game-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 92px;
  margin-left: -12px;
  margin-right: -12px;

  .prev-button {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 16px;
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .next-button {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 16px;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
}

.char {
  display: inline-block;
  font-family: "ABeeZee", "Roboto", sans-serif;
  min-width: 20px;
  text-align: center;

  &.small{
    min-width: 14px;
  }
}

.koenig {
  background-color: rgba(255, 234, 0, 0.3);
}

.fullscreen-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1;
}

.swiper_container {

  .swiper-wrapper {
    //height: initial;
    align-items: center;
  }

  .swiper_slide {
    min-height: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(135deg, #f1f1f1, #ffffff);
    box-shadow: 8px 8px 12px #eaeaea,
    -8px -8px 12px #dadada;
  }
}
