.game-cockpit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  .count-text {
    width: 32px;
  }
}

.game-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 92px;
  margin-left: -12px;
  margin-right: -12px;
  position: relative;

  .prev-button {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 12px;
    //backdrop-filter: blur(8px);
    z-index: 2;

    &:focus {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  .next-button {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 12px;
    //backdrop-filter: blur(8px);
    z-index: 2;

    &:focus {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

.fullscreen-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 2;
}

.snap-container {
  flex: 1;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &.disabled {
    overflow-x: hidden;
    touch-action: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.snap-slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  min-height: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;

  .snap-card {
    width: calc(100% - 132px);
    border-radius: 20px;
    background: linear-gradient(135deg, #f1f1f1, #ffffff);
    box-shadow: 8px 8px 12px #eaeaea, -8px -8px 12px #dadada;
    padding: 12px;
  }
}

.char {
  display: inline-block;
  font-family: 'ABeeZee', 'Roboto', sans-serif;
  min-width: 20px;
  text-align: center;

  &.small {
    min-width: 14px;
  }
}

.koenig {
  background-color: rgba(255, 234, 0, 0.3);
}
