.game-cockpit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  .count-text {
    width: 32px;
  }
}

.game-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-top: 92px;
}

.char {
  display: inline-block;
  font-family: "ABeeZee", "Roboto", sans-serif;
  min-width: 20px;
  text-align: center;
}

.koenig {
  background-color: rgba(255, 234, 0, 0.3);
}

.fullscreen-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 1;
}

.swiper_container {

  .swiper-wrapper {
    //height: initial;
    align-items: center;
  }

  .swiper_slide {
    min-height: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(135deg, #f1f1f1, #ffffff);
    box-shadow: 8px 8px 12px #eaeaea,
    -8px -8px 12px #dadada;
  }
}
